body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif !important;
  font-size: 13px;
  background-color: #ecf0f9;;
}

.navbar {
  background-image: linear-gradient(#0d2649,#104066);
  min-height: 6vh;
  left:0;
  width: 100vw;
}

.app-title {
  padding-left: 10px;
}

.app-content
{
  padding-top: 4vh;
}

.user-filter-accordion
{
  background-image: linear-gradient(#0d2649,#104066);
  min-height: 1vh;
}

.user-filter-form
{
  padding-bottom: 2vh;
  max-width: 10vw;
}

.input-form
{
  padding:0.25vh;
}

.loading-spinner 
{
  padding-top:1vh;
  padding-bottom:1vh;
}

.login-element {
  padding: 1vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.login-card-element {
  padding-top: 2vh;
  margin-bottom: 2vh;
}

.clickable-icon {
  cursor:pointer;
}

